<div class="row">
    <div class="container">
        <ul class="breadcrumb">
            <li><span style="color: orangered;">Generate</span></li>
            <li class="active">Kuota Harian</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="container">
        <center>
            <uib-alert type="{{typeAlert}}" ng-show="alert">{{messageAlert}}</uib-alert>
        </center>
    </div>
</div>
<div class="row">
    <div class="container">
            <div class="well">
                <button style="width:100%" type="button" ng-disabled="generateDisabled" class="btn btn-primary" ng-click="generate()">Generate Kuota</button>
            </div>
    </div>
</div>