<div class="row">
    <div class="container">
        <ul class="breadcrumb">
            <li><span style="color: orangered;">System</span></li>
            <li class="active">User</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="container">
        <center>
            <uib-alert type="{{typeAlert}}" ng-show="alert">{{messageAlert}}</uib-alert>
        </center>
    </div>
</div>
<div class="row">
    <form name="formSearchUser" class="form-inline">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{'has-error':formSearchUser.search.$invalid, 'has-success':formSearchUser.search.$valid}">
                <input type="text" class="form-control" name="search" ng-model="searchUser" ng-enter="searchAction()" required>
                <button class="btn btn-primary" ng-disabled="formSearchUser.search.$invalid" ng-click="searchAction()" tooltip-placement="bottom" uib-tooltip="Search User">Search</button>
                <button class="btn" type="button" ng-click="refreshPage()" tooltip-placement="bottom" uib-tooltip="Reload User"><i class="glyphicon glyphicon-refresh"></i></button>
            </div>
        </div>
    </form>
    <br/><br/><br/>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead class="header-custom">
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Fullname
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Loket
                    </th>
                    <th class="col-sm-2 text-center">
                        <button class="btn btn-success" ng-click="showModalInputUser()" tooltip-placement="bottom" uib-tooltip="Add New User"><i class="glyphicon glyphicon-plus"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in users">
                    <td>{{x.username}}</td>
                    <td>{{x.fullname}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.role.name}}</td>
                    <td>{{x.loket.nomorLoket}}</td>
                    <td class="col-sm-2 text-center">
                        <a class="glyphicon glyphicon-user" ng-click="showModalDetailUser(x)" tooltip-placement="bottom" uib-tooltip="View Detail {{x.username}}"></a>
                        <a class="glyphicon glyphicon-edit" ng-click="edit(x)" tooltip-placement="bottom" uib-tooltip="Edit {{x.username}}"></a>
                        <a class="glyphicon glyphicon-remove" ng-click="showDialogDelete(x)" tooltip-placement="bottom" uib-tooltip="Delete {{x.username}}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div align="center">
            <uib-pagination total-items="paging.totalItems" 
                            ng-model="paging.currentPage" 
                            max-size="paging.maxPage" 
                            class="pagination-sm" 
                            ng-change="reloadPage()" 
                            boundary-links="true"
                            items-per-page="paging.itemsPerPage">    
            </uib-pagination>
        </div>
        <div align="center">
            <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
        </div>
    </div>
</div>

<!-- Modal Add New User -->
<div class="modal fade bs-example-modal-sm" id="modalAddUser" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-custom">
                <button type="button" class="close" ng-click="hideModalInputUser()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Form Input User</h4>
            </div>
            <div class="modal-body">
                <form name="formUser">
                    <div class="form-horizontal">
                        <div class="form-group" ng-class="{'has-error':formUser.username.$invalid, 'has-success':formUser.username.$valid}">
                            <div class="col-sm-4">
                                <label for="label" class="control-label">Username</label>
                            </div>
                            <div class="col-sm-8">
                                <input name="username" type="text" class="form-control" ng-model="currentUser.username" required />
                                <span style="float:right; color:white" class="help-block label label-danger" ng-show="validateUsername">Username Already Exist</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formUser.fullname.$invalid, 'has-success':formUser.fullname.$valid}">
                            <div class="col-sm-4">
                                <label for="fullname" class="control-label">Fullname</label>
                            </div>
                            <div class="col-sm-8">
                                <input name="fullname" type="text" class="form-control" ng-model="currentUser.fullname" required />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formUser.password.$invalid, 'has-success':formUser.password.$valid}">
                            <div class="col-sm-4">
                                <label for="password" class="control-label">Password</label>
                            </div>
                            <div class="col-sm-8">
                                <input name="password" type="password" class="form-control" ng-model="currentUser.password" placeholder="********" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="active" class="control-label">Active</label>
                            </div>
                            <div class="col-sm-8">
                                <input name="active" type="checkbox" ng-model="currentUser.active"/>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formUser.email.$invalid, 'has-success':formUser.email.$valid}">
                            <div class="col-sm-4">
                                <label for="email" class="control-label">Email</label>
                            </div>
                            <div class="col-sm-8">
                                <input name="email" type="email" class="form-control" ng-model="currentUser.email" required />
                                <span style="float:right; color:white" class="help-block label label-danger" ng-show="validateEmail">Email Already Exist</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formUser.phone.$invalid, 'has-success':formUser.phone.$valid}">
                            <div class="col-sm-4">
                                <label for="phone" class="control-label">Phone Number</label>
                            </div>
                            <div class="col-sm-8">
                                <input name="phone" type="text" class="form-control" ng-model="currentUser.phone" required />
                            </div>
                        </div>
                        <div class="form-group" class="form-group" ng-class="{'has-error':formUser.address.$invalid, 'has-success':formUser.address.$valid}">
                            <div class="col-sm-4">
                                <label for="address" class="control-label">Address</label>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="currentUser.address" rows="3" name="address" required></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formUser.role.$invalid, 'has-success':formUser.role.$valid}">
                            <div class="col-sm-4">
                                <label class="control-label">Role</label>
                            </div>
                            <div class="col-sm-8">
                                <ui-select tagging="tagTransform" name="role" ng-model="currentUser.role" theme="bootstrap" title="Choose a Role" ng-required="true">
                                    <ui-select-match class="ui-select-match" placeholder="Select Role...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="x in listRole | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="x.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>   
                        </div>
                        <div class="form-group" ng-class="{'has-error':formUser.loket.$invalid, 'has-success':formUser.loket.$valid}">
                            <div class="col-sm-4">
                                <label class="control-label">Loket</label>
                            </div>
                            <div class="col-sm-8">
                                <ui-select tagging="tagTransform" name="loket" ng-model="currentUser.loket" theme="bootstrap" title="Choose a Loket" ng-required="true">
                                    <ui-select-match class="ui-select-match" placeholder="Select Loket...">{{$select.selected.nomorLoket}}</ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="x in listLoket | propsFilter: {nomorLoket: $select.search}">
                                        <div ng-bind-html="x.nomorLoket | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="hideModalInputUser()">Cancel</button>
                <button class="btn btn-primary" ng-click="save()" ng-disabled="formUser.$invalid">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirm Delete -->
<div class="modal fade bs-example-modal-sm" id="modalConfirmDelete" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Delete [{{label}}]</h4>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">No</button>
                <button class="btn btn-primary" ng-click="remove(idUser)">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detail User -->
<div class="modal fade" id="modalDetailUser" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detail [{{listUserForDetail.username}}]</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Username</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.username}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Fullname</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.fullname}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Email</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.email}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Phone Number</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.phone}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Address</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.address}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Active</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.active}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Role</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.role.name}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">Loket</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">{{listUserForDetail.loket.nomorLoket}}</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
